<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a th:href="/home">Home</a>
            <a th:href="/livros-add">Adicionar Livros</a>
            <a th:href="/livros-list">Listar Livros</a>
        </nav>
    </header>
    
    <table class="table table-hover table-responsive w-auto table-striped">
        <thead>
            <tr>
                <th scope="col">ID:</th>
                <th scope="col">Titulo:</th>
                <th scope="col">Autor:</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="livro : ${livros}">
                <td><span th:text="${livro.id}"></span></td>
                <td><span th:text="${livro.titulo}"></span></td>
                <td><span th:text="${livro.autor}"></span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>